@model List<CartDetailVM>
@inject ILayoutService layout

@{
    ViewData["Title"] = "Index";
    decimal grandTotal = 0;
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="assets/images/website-images/@layout.GetSectionBackgroundImages()["CartIntroBg"]">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Cart Page</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>Cart Page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="table-content table-responsive">
                            @if (Model.Count > 0)
                            {
                                <table class="table product-table">
                                    <thead>
                                        <tr>
                                            <th class="product_remove">remove</th>
                                            <th class="product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody">
                                        @foreach (var item in Model)
                                        {
                                           <tr data-id="@item.Id">
                                                <td class="product_remove">
                                                    <a href="#" class="delete-product">
                                                        <i class="pe-7s-close"
                                                            data-tippy="Remove"
                                                            data-tippy-inertia="true"
                                                            data-tippy-animation="shift-away"
                                                            data-tippy-delay="50"
                                                            data-tippy-arrow="true"
                                                            data-tippy-theme="sharpborder"></i>
                                                    </a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="#">
                                                        <img src="~/assets/images/website-images/@item.Image"
                                                                alt="Cart Thumbnail" />
                                                    </a>
                                                </td>
                                                <td class="product-name">
                                                    <a href="#">@item.Name</a>
                                                </td>
                                                <td class="product-price">
                                                    <span>$</span>
                                                    <span class="amount">@item.Price.ToString("0.00")</span>
                                                </td>
                                                <td class="quantity">
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box"
                                                                value="@item.Count"
                                                                type="text" />
                                                        <div class="dec qtybutton">
                                                            <i class="fa fa-minus"></i>
                                                        </div>
                                                        <div class="inc qtybutton">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal">
                                                    <span>$</span>
                                                    <span class="amount">@item.Total.ToString("0.00")</span>
                                                </td>
                                           </tr>
                                        }
                                       
                                       
                                    </tbody>
                                </table>
                            }

                        </div>
                      
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul>
                                        <li>Total 
                                            <span>$</span>
                                            @foreach (var item in Model)
                                            {
                                                grandTotal += item.Total;
                                            }
                                            <span class="grand-total">@grandTotal.ToString("0.00")</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
@section Scripts{
    <script src="~/assets/js/index.js"></script>
}
