@model IEnumerable<Banner>
@{
    ViewData["Title"] = "Index";
}
@section Css{
    <link rel="stylesheet" href="~/admin/assets/css/index.css">
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="Create" data-toggle="tooltip" data-original-title="Create" class="create"><i class="fa-solid fa-square-plus fa-lg" style="color: #105ada;"></i></a>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>SubTitle</th>
                                            <th>Title</th>
                                            <th>Large or Small</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var banner in Model)
                                        {
                                            <tr data-id="@banner.Id">
                                                <td>
                                                    <div class="image">
                                                        <img class="img-fluid" src="~/assets/images/website-images/@banner.Image" />
                                                    </div>
                                                </td>
                                                <td>@banner.SubTitle</td>
                                                <td>@banner.Title</td>
                                                @if (@banner.IsLarge)
                                                {
                                                    <td>Large</td>
                                                }
                                                else
                                                {
                                                    <td>Small</td>
                                                }
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@banner.Id" data-toggle="tooltip" data-original-title="Edit" class="edit">
                                                        <i class="fa-solid fa-pen-to-square" style="color: #2bca16;"></i>
                                                    </a>
                                                    <a class="delete" data-toggle="tooltip" data-original-title="Remove">
                                                        <i class="fa-solid fa-trash" style="color: #c81921;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Script{
    <script src="~/admin/assets/js/index.js"></script>
}
