@model ProductDetailVM
@{
    ViewData["Title"] = "Detail";
}
@section Css{
    <link rel="stylesheet" href="~/admin/assets/css/index.css">

}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center images">
                    <div style="width:200px; margin-right:10px;">
                        <label>Main Image</label>
                        <img class="img-fluid" src="~/assets/images/website-images/@Model.MainImage" />
                    </div>
                    <div style="width:200px; margin-right:10px;">
                        <label>Hover Image</label>
                        <img class="img-fluid" src="~/assets/images/website-images/@Model.HoverImage" />
                    </div>
                    @foreach (var item in Model.Images)
                    {
                        <div style="width:200px; margin-right:10px;" data-id="@item.Id">
                            <img class="img-fluid" src="~/assets/images/website-images/@item.ImgName" />
                        </div>
                    }
                   
                </div>
                <span class="text-danger "></span>
                <form method="post" enctype="multipart/form-data" asp-action="Edit">
                    <span class="text-danger">@ViewBag.error</span>
                    <div class="form-group">
                        <label>Title</label>
                        <input disabled class="form-control" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input disabled class="form-control" asp-for="Price">
                    </div>
                    <div class="form-group">
                        <label>Stock Count</label>
                        <input disabled class="form-control" asp-for="StockCount">
                    </div>
                    <div class="form-group">
                        <label>Color Name</label>
                        <input disabled class="form-control" asp-for="@Model.ColorName">
                    </div>
                    <div class="form-group">
                        <label>Category Name</label>
                        <input disabled class="form-control" value="@string.Join(",", Model.CategoryNames.Select(pc=>pc.Category.Name))">
                    </div>
                    <div class="form-group">
                        <label>Tag Name</label>
                        <input disabled class="form-control" value="@string.Join(",", Model.TagNames.Select(pc=>pc.Tag.Name))">
                    </div>
                    <div class="form-group">
                        <label>Size Name</label>
                        <input disabled class="form-control" value="@string.Join(",", Model.SizeNames.Select(pc=>pc.Size.Name))">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea disabled class="form-control" rows="3" asp-for="Description"></textarea>
                    </div>
                    <a asp-action="Index" class="btn btn-success"><i class="feather mr-2 icon-check-circle"></i>Go to list</a>
                </form>
            </div>
        </div>
    </div>
</section>

@section Script{
    <script src="~/admin/assets/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}


