@model  BlogVM
@inject IBannerService banner
@{
    ViewData["Title"] = "Index";
    int? sumOfProductsCountByCategory = 0;
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="/assets/images/website-images/@Model.SectionBgs["BlogIntroBg"]">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Blog</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>Blog Grid View</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2 pt-5 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox">
                            <form id="widgets-searchbox">
                                <input class="input-field"
                                       type="text"
                                       placeholder="Search" />
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area">
                            <div class="widgets-item pt-0">
                                <h2 class="widgets-title mb-4">Categories</h2>
                                <ul class="widgets-category">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            All 
                                            @foreach (var item in Model.Categories)
                                            {
                                                sumOfProductsCountByCategory += item.ProductCategories?.Count();
                                            }
                                            <span>(@sumOfProductsCountByCategory)</span>
                                        </a>
                                        
                                    </li>

                                    @foreach (var category in Model.Categories)
                                    {
                                        <li>
                                            <a asp-controller="Shop" asp-action="Index" asp-route-categoryId="@category.Id" data-id="@category.Id" class="category">
                                                <i class="fa fa-chevron-right"></i>
                                                @category.Name
                                                <span>(@category.ProductCategories?.Count())</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Recent Post</h2>
                                <div class="swiper-container widgets-list-slider">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Model.Blogs.OrderByDescending(b=>b.CreatedDate))
                                        {
                                            <div class="swiper-slide">
                                                <div class="widgets-list-item">
                                                    <div class="widgets-list-img">
                                                        <a href="#">
                                                            <img class="img-full"
                                                                 src="~/assets/images/website-images/@item.BlogImages?.Where(bi=>bi.IsMain).FirstOrDefault()?.ImgName"
                                                                 alt="Blog Images" />
                                                        </a>
                                                    </div>
                                                    <div class="widgets-list-content">
                                                        <div class="widgets-meta">
                                                            <ul>
                                                                <li class="date">@item.CreatedDate.ToString("dd MMMM yyyy")</li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="title mb-0">
                                                            <a href="#">@item.Description.Substring(0,26)</a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Populer Tags</h2>
                                <ul class="widgets-tag">
                                    @foreach (var item in Model.Tags)
                                    {
                                        <li>
                                            <a asp-controller="Shop" asp-action="Index" asp-route-tagId="@item.Id">@item.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="banner-item widgets-banner img-hover-effect">
                            <div class="banner-img">
                                <img src="~/assets/images/website-images/@banner.GetAllAsync().Result.Where(b=>!b.IsLarge).FirstOrDefault().Image"
                                     alt="Banner Image" />
                            </div>
                            <div class="banner-content text-position-center">
                                <span class="collection">@Html.Raw(banner.GetAllAsync().Result.Where(b=>!b.IsLarge).FirstOrDefault().SubTitle)</span>
                                <h3 class="title">@Html.Raw(banner.GetAllAsync().Result.Where(b=>!b.IsLarge).FirstOrDefault().Title)</h3>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size sm-size btn-pronia-primary"
                                       href="shop.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-1">
                    <div class="blog-item-wrap row g-y-30">
                       <partial name="_BlogListPartial" model="Model.PaginateDatas.Datas"/>
                    </div>
                    <div class="pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item  @(Model.PaginateDatas.HasPrevious ? " " : "d-none")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginateDatas.CurrentPage - 1)" aria-label="Previous">&laquo;</a>
                                </li>
                                @for (int i = 1; i <= Model.PaginateDatas.TotalPage; i++)
                                {
                                    <li class="page-item  @(Model.PaginateDatas.CurrentPage == i ? "disabled" : "") ">
                                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                    </li>
                                }
                                <li class="page-item  @(Model.PaginateDatas.HasNext ? " " : "d-none")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PaginateDatas.CurrentPage + 1)" aria-label="Next">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->

