@model BlogVM
@inject UserManager<AppUser> userManager

@{
    ViewData["Title"] = "SingleBlog";
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height"
         data-bg-image="/assets/images/website-images/">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Blog</h2>
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>Blog Detail</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 order-2 pt-5 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox">
                            <form id="widgets-searchbox">
                                <input class="input-field"
                                       type="text"
                                       placeholder="Search" />
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area">
                            <div class="widgets-item pt-0">
                                <h2 class="widgets-title mb-4">Categories</h2>
                                <ul class="widgets-category">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            All <span>(65)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Bansai <span>(12)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            House Plants <span>(22)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Indoor Living <span>(19)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Perennnials <span>(17)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Plant For Gift <span>(01)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-chevron-right"></i>
                                            Garden Tools <span>(12)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Recent Post</h2>
                                <div class="swiper-container widgets-list-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="widgets-list-item">
                                                <div class="widgets-list-img">
                                                    <a href="#">
                                                        <img class="img-full"
                                                             src="assets/images/website-images/1-1-70x70.png"
                                                             alt="Blog Images" />
                                                    </a>
                                                </div>
                                                <div class="widgets-list-content">
                                                    <div class="widgets-meta">
                                                        <ul>
                                                            <li class="date">24 April 2021</li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="title mb-0">
                                                        <a href="#">Lorem ipsum dolo conse tetur.</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="widgets-list-item">
                                                <div class="widgets-list-img">
                                                    <a href="#">
                                                        <img class="img-full"
                                                             src="assets/images/website-images/1-2-70x70.png"
                                                             alt="Blog Images" />
                                                    </a>
                                                </div>
                                                <div class="widgets-list-content">
                                                    <div class="widgets-meta">
                                                        <ul>
                                                            <li class="date">24 April 2021</li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="title mb-0">
                                                        <a href="#">Lorem ipsum dolo conse tetur.</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="widgets-list-item">
                                                <div class="widgets-list-img">
                                                    <a href="#">
                                                        <img class="img-full"
                                                             src="assets/images/website-images/1-3-70x70.png"
                                                             alt="Blog Images" />
                                                    </a>
                                                </div>
                                                <div class="widgets-list-content">
                                                    <div class="widgets-meta">
                                                        <ul>
                                                            <li class="date">24 April 2021</li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="title mb-0">
                                                        <a href="#">Lorem ipsum dolo conse tetur.</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide without-border">
                                            <div class="widgets-list-item">
                                                <div class="widgets-list-img">
                                                    <a href="#">
                                                        <img class="img-full"
                                                             src="assets/images/website-images/1-1-70x70.png"
                                                             alt="Blog Images" />
                                                    </a>
                                                </div>
                                                <div class="widgets-list-content">
                                                    <div class="widgets-meta">
                                                        <ul>
                                                            <li class="date">24 April 2021</li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="title mb-0">
                                                        <a href="#">Lorem ipsum dolo conse tetur.</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widgets-item">
                                <h2 class="widgets-title mb-4">Populer Tags</h2>
                                <ul class="widgets-tag">
                                    <li>
                                        <a href="#">Fashion</a>
                                    </li>
                                    <li>
                                        <a href="#">Organic</a>
                                    </li>
                                    <li>
                                        <a href="#">Old Fashion</a>
                                    </li>
                                    <li>
                                        <a href="#">Men</a>
                                    </li>
                                    <li>
                                        <a href="#">Fashion</a>
                                    </li>
                                    <li>
                                        <a href="#">Dress</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="banner-item widgets-banner img-hover-effect">
                            <div class="banner-img">
                                <img src="assets/images/website-images/sidebar/banner/1-270x300.jpg"
                                     alt="Banner Image" />
                            </div>
                            <div class="banner-content text-position-center">
                                <span class="collection">New Collection</span>
                                <h3 class="title">Plant Port</h3>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size sm-size btn-pronia-primary"
                                       href="shop.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 order-1">
                    <div class="blog-detail-item">
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li class="author">
                                        <a href="#">By: Admin</a>
                                    </li>
                                    <li class="date">@Model.Blog.CreatedDate.ToString("dd MMMM yyyy")</li>
                                </ul>
                            </div>
                            <h2 class="title">There Many Variations</h2>
                            <p class="short-desc">
                                @Model.Blog.Description.Substring(0,350);
                            </p>
                        </div>
                        <div class="blog-img img-hover-effect">
                            <img class="img-full"
                                 src="~/assets/images/website-images/@Model.Blog.BlogImages?.Where(b=>b.IsMain).FirstOrDefault().ImgName"
                                 alt="Blog Image" />
                        </div>
                        <p class="short-desc">
                            @Model.Blog.Description.Substring(100,300);
                        </p>
                        <blockquote>
                            <p class="mb-0">
                                @Model.Blog.Description.Substring(200,300);
                            </p>
                        </blockquote>
                        <p class="short-desc">
                            @Model.Blog.Description.Substring(100,320);
                        </p>
                        <div class="blog-banner row">
                            <div class="single-img img-hover-effect col-sm-6">
                                <img class="img-full"
                                     src="~/assets/images/website-images/@Model.Blog.BlogImages?.Where(b=>!b.IsMain).FirstOrDefault().ImgName"
                                     alt="Blog Banner" />
                            </div>
                            <div class="single-img img-hover-effect col-sm-6 pt-5 pt-sm-0">
                                <img class="img-full"
                                     src="~/assets/images/website-images/@Model.Blog.BlogImages?.Where(b=>!b.IsMain).LastOrDefault().ImgName"
                                     alt="Blog Banner" />
                            </div>
                        </div>
                        <p class="short-desc mb-0">
                            @Model.Blog.Description.Substring(320,500);
                        </p>
                    </div>
                    <div class="social-with-tags">
                        <div class="tags">
                            <span class="title">Tags: </span>
                            <ul>
                                <li>
                                    <a href="#">Plant,</a>
                                </li>
                                <li>
                                    <a href="#">Tree Plant</a>
                                </li>
                            </ul>
                        </div>
                        <div class="social-link">
                            <ul>
                                <li>
                                    <a href="#"
                                       data-tippy="Facebook"
                                       data-tippy-inertia="true"
                                       data-tippy-animation="shift-away"
                                       data-tippy-delay="50"
                                       data-tippy-arrow="true"
                                       data-tippy-theme="sharpborder">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       data-tippy="Dribbble"
                                       data-tippy-inertia="true"
                                       data-tippy-animation="shift-away"
                                       data-tippy-delay="50"
                                       data-tippy-arrow="true"
                                       data-tippy-theme="sharpborder">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       data-tippy="Pinterest"
                                       data-tippy-inertia="true"
                                       data-tippy-animation="shift-away"
                                       data-tippy-delay="50"
                                       data-tippy-arrow="true"
                                       data-tippy-theme="sharpborder">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li class="comment">
                                    <a href="#">
                                        <span>2</span>
                                        <i class="fa fa-comments"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-comment">
                            <h4 class="heading">Comments (@Model.Blog.BlogComments.Count)</h4>
                            @foreach (var item in Model.Blog.BlogComments)
                            {
                            <div class="blog-comment-item">
                                <div class="blog-comment-content">
                                    <div class="user-meta">
                                            <h2 class="user-name">@item.Name</h2>
                                        <span class="date">@item.CreatedDate.ToString("dd MMMM yyyy")</span>
                                    </div>
                                        <p class="user-comment">
                                            @item.Message
                                        </p>
                                    </div>
                                </div>
                            }
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="feedback-area">
                            <h2 class="heading">Leave a comment</h2>
                            <form class="feedback-form" method="post" asp-action="PostComment" asp-route-id="@Model.Blog.Id" asp-route-userId="@userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).Id">
                                <div class="group-input">
                                    <div class="form-field me-md-30 mb-30 mb-md-0">
                                        <input placeholder="Your Name*"
                                               class="input-field"
                                               readonly
                                               value="@string.Join(" ", userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name).FirstName, userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name).LastName)"
                                           asp-for="BlogCommentVM.Name" />

                                    </div>
                                    <div class="form-field">
                                        <input placeholder="Your Email*"
                                               class="input-field"
                                               readonly
                                           value="@userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).Email"
                                           asp-for="BlogCommentVM.Email" />
                                    </div>
                                </div>
                                <div class="form-field mt-30">
                                    <input placeholder="Subject (Optinal)"
                                           class="input-field"
                                       asp-for="BlogCommentVM.Subject" />
                                </div>
                                <div class="form-field mt-30">
                                    <textarea placeholder="Message"
                                              class="textarea-field"
                                          asp-for="BlogCommentVM.Message"></textarea>
                                </div>
                                <div class="button-wrap pt-5">
                                    <button type="submit"
                                            class="btn btn-custom-size xl-size btn-pronia-primary">
                                        Post Comment
                                    </button>
                                </div>
                            </form>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
